streamlit>=1.32.0
langchain==0.1.17          # última estable
openai==1.11.1
pandas>=2.2.0
azure-ai-documentintelligence==1.0.0b2   # beta que compila en Cloud
weaviate-client==3.25.4    # versión sin librerías C
python-dotenv>=1.0.1
watchdog
watchfiles
wikipedia
